/* Navbar.css */

.navbar {
    /* background-color: #333; */
    /* color: white; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .profile {
    position: relative;
    cursor: pointer;
  }

  .fa-solid{
    margin-left: 5px;
  }
  
  .username {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-transform: capitalize;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    right: 20px;
    /* background-color: #333; */
    /* color: white; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }
  
  .email {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .signout {
    font-size: 1rem;
    cursor: pointer;
  }
  
  .signout:hover {
    color: #ff6b6b;
  }
  